<div class="container">
  <div class="user-blog">
    {{#each posts}}

    <div class="panel">
      <div class="panelheader">
        <h2>{{dataValues.title}}</h2>
        <span>Posted By:{{dataValues.user.dataValues.username}} on {{dataValues.date}}</span>
      </div>
      <div class="panelbody">
        <p>{{dataValues.content}}</p>
      </div>
    </div>



    {{/each}}



  </div>

</div>